body {
    background: url('http://localhost/motoroda/styles/bluetexture.jpg') no-repeat center center fixed;
    background-size: cover;
}

body,
h1,
h2,
h3,
h11,
label,
input,
textarea {
    color: white;
}

.container.main-content {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.card {
    margin-bottom: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-body {
    background: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
}

.card-body h5,
.card-body p {
    margin-bottom: 10px;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.carousel-inner {
    width: 100%;
    max-width: 5000px;
    /* Adjust the width as needed */
    margin: auto;
}

footer {
    position: absolute;
    background: #f8f9fa;
    text-align: center;
    width: 100%;
    bottom: 0;
}